@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    display: grid;
    grid-template-columns: 20% 40% 10%;
    grid-template-rows: 10% 40% 20%;
    height: 100vh;
    justify-items: center;
    align-items: start;
    width: 80%;
    margin-left: 20%;
    background-image: url('./images/space-background-with-planet-landscape_107791-6146.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#my-canvas {
    align-items: center;
    width: 100%;
    border-radius: 8px;

} 

#logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    font-family: 'Monofett', cursive;
    font-size: 2rem;
    

}

#game {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:2;

}

#score {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:2;
    
}

#game-over {
    font-family: 'Bungee Spice', cursive;
    font-size: 5rem;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

#refresh {
    font-family: cursive;
    color: aliceblue;
    font-size: 1rem;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    margin-top: 30vh;
    text-align: center;
    width: 100%;
    margin-top: 40vh;
}

@media (min-width: 1030px) {

    #my-canvas {
        width: 90vh;
        height: 80vh;
    } 
}

@media (max-width: 1030px) {
    #my-canvas {
        width: 60vh;
        height: 70vh;
    } 
}

@media (max-width: 630px) {
    #my-canvas {
        width: 40vh;
        height: 70vh;
    }
    #game-over {
    font-size: 3rem;    
    }
}


html {
    cursor: crosshair
}