@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

body {
    display: grid;
    grid-template-columns: 20% 50% 10%;
    grid-template-rows: 10% 50% 20%;
    height: 100vh;
    justify-items: center;
    align-items: start;

}

#logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    font-family: 'Monofett', cursive;
    font-size: 2rem;
    

}

#game {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:2;

}

#score {
    text-align: center;
}